python-dotenv
aiogram==3.0.0b7
SQLAlchemy>=2.0
pydub
ffmpeg-python
shazamio
yt-dlp
httpx
eyed3
ytmusicapi
aiosqlite     # For SQLite async support (default)
asyncpg       # For PostgreSQL async support (optional, if using Postgres)
aiomysql      # For MySQL async support (optional, if using MySQL)
fastapi==0.115.12
ytmusicapi==1.10.2
httpx[http2]==0.28.1
